*.jar
*.iml
.idea/*
deploy
C-Engine/target/*
Dueling-Club/target/*
resources/target/*
Arcane-Tower/target/*
Arcane-Vault/target/*
*.class
*.log
*.log.*
.idea
.metadata/*
*/presets/last.xml
generated
/out
resources/res
