resources/*
*.jar
.classpath
.project
*.iml
.idea/*
deploy
C-Engine/target/*
Dueling-Club/target/*
resources/target/*
Arcane-Tower/target/*
Arcane-Vault/target/*
ChaosCompanion/target/*
MuseCore/target/*
C3/target/*
LibGdx-Core/target/*
*.class
*.log
*.log.*
.idea
.metadata/*
*/presets/last.xml
generated
/out
resources/res
/C-Engine/*.project
/Dueling-Club/*.project
/resources/*.project
/Arcane-Vault/*.project
/Arcane-Tower/*.project
